<style>
  #uyd {
    width: 100%;
  }
</style>


<audio controls id="uyd">
  <source src="https://traffic.libsyn.com/uhhyeahdude/<%= Episode.first.filename %>.mp3" type="audio/mpeg">
Can't play it!
</audio>
<% @ep.timestamps.each do |ts| %>
  <p id="time">
    <%= ts.display_time %>
  </p>
  <script type="text/javascript">
    time = document.getElementById("time")
    time.addEventListener("click", function() {
      uyd = document.getElementById("uyd")
      uyd.currentTime = <%= ts.start %>
    })
  </script>
<% end %>
