-# %nav.navbar.navbar-expand-lg.navbar-light.bg-light
-#   %a.navbar-brand{href: "#"} Uhh Yeah Timestamps
-#   %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
-#     %span.navbar-toggler-icon
-#   #navbarSupportedContent.collapse.navbar-collapse
-#     %ul.navbar-nav.mr-auto
-#       %li.nav-item.active
-#         %a.nav-link{href: "#"}
-#           %span.sr-only (current)
-#       %li.nav-item
-#         %a.nav-link{href: "https://www.uhhyeahdude.com"} UYD
-#       %li.nav-item
-#         %a.nav-link{href: "https://www.patreon.com/UHHYEAHDUDE"} Support UYD on Patreon
-#       %li.nav-item.dropdown
-#         %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
-#           Segments
-#         .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
-#           - Segment.all.pluck(:id, :title).each do |id, title|
-#             = link_to title, segment_path(id), class: 'dropdown-item'
-#     %form.form-inline.my-2.my-lg-0
-#       %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
-#       %button.btn.my-2.my-sm-0{:type => "submit"} Search

.jumbotron.pt-1.no-background
  %h1.display-4 Uhh Yeah Timestamps
  %p.lead America through the eyes of two American-Americans, through timestamps on this website
  %hr.my-4/
  %p It uses utility classes for typography and spacing to space content out within the larger container.
  %p.lead
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more
