<style>
  #uyd {
    width: 100%;
  }
</style>

<% @episodes.each do |ep| %>
  <audio controls id="uyd">
    <source src=<%= ep.url %> type="audio/mpeg">
  Can't play it!
  </audio>
  <% @ep.timestamps.each do |ts| %>
    <p id="time">
      <%= ts.display_time %>
    </p>
    <script type="text/javascript">
      time = document.getElementById("time")
      time.addEventListener("click", function() {
        uyd = document.getElementById("uyd")
        uyd.currentTime = <%= ts.start %>
      })
    </script>
  <% end %>
<% end %>