.timestamp {
  font-size: 14px;
  margin: 5px 5%;
  text-align: left;
}

.timestamp a {
  color: blue;
  text-decoration: none;
}

.timestamp-form {
  margin-bottom: 15px;
}

.time-input {
  margin-right: -25px;
}

.comment {
  font-style: italic;
}

.current-time {
  color: blue;
  cursor: pointer;
  position: relative;
  bottom: -15px;
  left: -97px;
  font-size: 10px;
  width: 0px;
}