.timestamp {
  font-size: 14px;
  margin: 5px 5%;
  text-align: left;
  line-height: 1.4;
  cursor: pointer;
}

.timestamp a {
  color: blue;
  text-decoration: none;
}

.timestamp-form {
  margin-bottom: 15px;
  line-height: 2;
}

.time-input {
  margin-right: -75px;
}

.comment {
  font-style: italic;
}

.current-time {
  color: blue;
  cursor: pointer;
  position: relative;
  bottom: -15px;
  left: -97px;
  font-size: 10px;
  width: 0px;
}

.vote {
  border: 1px solid blue;
  padding: 2px 4px;
  border-radius: 7px;
}